# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Logs (Registros de actividad) ---
*.log
app.log
server.log
dns_general.log
file_server.log

# --- Configuraciones Locales (JSONs y variantes) ---
# Ignoramos todos los json para no subir IPs o configs locales
*.json
# Ignoramos los backups o configs especificas de usuarios (ej. config.json_axel)
*.json_*

# --- Carpetas de Almacenamiento de Archivos (Generadas dinámicamente) ---
# Esto evita que se suban los "libros" o archivos de prueba de cada servidor
archivos_server_*/
archivos_server*/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Entornos Virtuales (Por si acaso usas uno) ---
venv/
env/
.venv/